<div
  class="flex flex-col items-center justify-start w-full h-full animate__animated animate__fadeIn animate__faster"
>
  <div class="flex flex-col items-center justify-center gap-4 w-7/12 py-10">
    <div
      class="flex flex-col gap-3 w-full p-8 bg-white/30 backdrop-blur-2xl rounded-4xl"
    >
      <div class="flex gap-4 items-center">
        <img
          src="assets/img/profileImg.png"
          alt="profile picture"
          class="rounded-[50%] w-[10%] hover:scale-110 transition-transform duration-300 ease-in-out"
        />
        <div class="text-[#090979] font-bold">
          <h2 class="text-3xl font-bold bg-home-title text-start">
            Driven by Code, Powered by Curiosity
          </h2>
          <p class="text-[#090979] italic font-medium">
            📌 Ciudad Autónoma de Buenos Aires, Argentina
          </p>
        </div>
      </div>

      <div class="flex flex-col gap-3">
        <div class="flex gap-6">
          <div class="flex flex-col gap-4">
            <p>
              💡 I'm a passionate
              <span class="text-[#090979] font-bold"
                >Full Stack Developer and Cloud Engineer Trainee</span
              >
              from Argentina, currently pursuing an
              <span class="text-[#090979] font-bold"
                >Advanced Technical Degree in Software Development </span
              >.
            </p>

            <p>
              💻 At just 22 years old, I bring a unique blend of technical
              proficiency, adaptability, and genuine curiosity that drives me to
              constantly push my limits and deliver meaningful solutions.
            </p>

            <p>
              🌱 I thrive in dynamic environments where learning and
              collaboration are key. My current focus is on cloud
              technologies—especially Microsoft Azure—where I'm gaining hands-on
              experience with scalable and secure architectures. On the
              development side, I work confidently across the full stack: from
              <span class="text-[#090979] font-bold"
                >building robust back-end services</span
              >
              with Java, Spring Boot, Node.js, and Express.js, to
              <span class="text-[#090979] font-bold"
                >crafting responsive front-end interfaces</span
              >
              using Angular, TypeScript, and Tailwind CSS.
            </p>
          </div>

          <div class="flex flex-col gap-4">
            <p>
              🤝 I'm well-versed in tools like Docker, Git, Postman, and
              collaborative platforms like GitHub, Jira, and Notion, which help
              me integrate seamlessly into agile teams and contribute
              effectively from day one. Whether I'm debugging code, deploying to
              the cloud, or participating in code reviews,
              <span class="text-[#090979] font-bold"
                >I bring a results-driven mindset and strong communication
                skills that foster trust and high performance</span
              >.
            </p>

            <p>
              🌐
              <span class="text-[#090979] font-bold"
                >Fluent in Spanish and with an upper-intermediate (B2) level of
                English</span
              >, I'm comfortable working in diverse, international teams and
              always eager to learn from those around me.
            </p>

            <p>
              🚀 If you're looking for someone who's not just technically
              skilled but also deeply invested in personal and professional
              growth, let's connect.
              <span class="text-[#090979] font-bold"
                >I'm excited to bring value, learn fast, and grow even
                faster</span
              >.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-start justify-center gap-3 w-full">
      <section
        class="p-8 bg-white/30 backdrop-blur-2xl rounded-4xl flex flex-col gap-3 w-2/3"
      >
        <h2 class="text-3xl font-bold bg-home-title text-start">Education</h2>
        <div class="flex gap-4 items-center">
          <img
            src="assets/img/educationImg.webp"
            alt="Instituto de Formación Técnica Superior N° 11"
            class="w-[5rem] hover:scale-110 transition-transform duration-300 ease-in-out"
          />
          <div class="text-[#090979] font-bold">
            <h3 class="text-xl">
              Instituto de Formación Técnica Superior N° 11
            </h3>
            <p class="italic font-medium">
              Higher Technician in Software Development
            </p>
            <p class="italic font-medium">Aug 2023 - Nov 2025</p>
          </div>
        </div>
        <div class="flex flex-col gap-3">
          <p>
            🎓 I'm currently in the second year, second semester of an Advanced
            Technical Degree in Software Development, a rigorous programme
            focused on real-world application of programming, systems analysis,
            and cloud-based solutions.
          </p>

          <p>
            ✒️ With 14 out of 23 subjects already completed, I've built a strong
            foundation in computer science fundamentals, object-oriented
            programming, databases, and agile methodologies. My academic journey
            blends technical depth with practical skills, preparing me to face
            challenges with both precision and adaptability.
          </p>

          <p>
            📚 Right now, I'm focused on subjects that reflect where the
            industry is heading:
          </p>

          <ul>
            <li>• Web Systems Development - Back End</li>
            <li>• Web Systems Development - Front End</li>
            <li>• Software Engineering</li>
            <li>• Development and Implementation of Cloud Systems</li>
          </ul>

          <p>
            💼 This curriculum aligns perfectly with my hands-on experience in
            full-stack development and cloud engineering. It allows me to
            continuously connect what I learn in the classroom with what I build
            in the real world.
          </p>
        </div>
      </section>

      <section
        class="p-8 bg-white/30 backdrop-blur-2xl rounded-4xl w-1/3 flex flex-col gap-3"
      >
        <h2 class="text-3xl font-bold bg-home-title text-start">Experience</h2>

        <div class="flex gap-4 items-center">
          <img
            src="assets/img/jobImg.webp"
            alt="Instituto de Formación Técnica Superior N° 11"
            class="w-[5rem] hover:scale-110 transition-transform duration-300 ease-in-out"
          />
          <div class="text-[#090979] font-bold">
            <h3 class="text-xl">Readymind</h3>
            <p class="italic font-medium">Cloud Engineer Trainee</p>
            <p class="italic font-medium">May 2025 - Present</p>
          </div>
        </div>

        <div class="flex flex-col gap-3">
          <p>
            📊 I'm currently enrolled in a 4-month intensive training programme
            focused on cloud technologies, data, and low-code development, with
            a strong emphasis on Microsoft Azure.
          </p>

          <p>
            🧰 This hands-on experience is helping me build solid foundations in
            cloud infrastructure and scalable architectures. I'm preparing for
            the AZ-900 (Azure Fundamentals) certification, with AZ-104 (Azure
            Administrator) as my next milestone to deepen my skills in cloud
            management.
          </p>

          <p>
            🧠 More than just theory, this programme is sharpening my ability to
            think strategically, solve real-world problems, and contribute
            effectively in team-driven environments—paving the way for my future
            in cloud engineering.
          </p>
        </div>
      </section>
    </div>
  </div>
</div>
