<div
  class="flex flex-col items-center justify-start w-full h-full animate__animated animate__fadeIn animate__faster"
>
  <div
    class="flex flex-col items-center justify-center gap-4 w-[90%] lg:w-2/3 xl:w-[55%] py-10"
  >
    <div
      class="flex flex-col gap-3 w-full p-8 bg-white/30 backdrop-blur-2xl rounded-4xl dark:bg-white/10"
    >
      <div class="flex flex-col-reverse md:flex-row gap-4 items-center">
        <a
          href="https://www.linkedin.com/in/kevin-m-palma-r/"
          target="_blank"
          class="w-[80%] md:w-1/4 xl:w-[10%]"
        >
          <img
            src="assets/img/profileImg.png"
            alt="profile picture"
            class="rounded-[50%] w-full hover:scale-110 transition-transform duration-300 ease-in-out"
          />
        </a>
        <div class="text-[#090979] font-bold">
          <h2
            class="text-2xl lg:text-3xl font-bold text-start bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="'aboutMe.profile.title'"
          ></h2>
          <p
            class="text-[#090979] text-xm italic font-medium dark:text-[#0d92f4]"
            [transloco]="'aboutMe.profile.location'"
          ></p>
        </div>
      </div>

      <div class="flex flex-col lg:flex-row gap-6">
        <div class="flex flex-col gap-4 lg:w-1/2 dark:text-white">
          @for(text of descriptionProfile1; track $index){
          <p [transloco]="'aboutMe.profile.description.' + text.text"></p>
          }
        </div>

        <div class="flex flex-col gap-4 lg:w-1/2 dark:text-white">
          @for(text of descriptionProfile2; track $index){
          <p [transloco]="'aboutMe.profile.description.' + text.text"></p>
          }
        </div>
      </div>
    </div>

    <div
      class="flex flex-col lg:flex-row items-start justify-center gap-3 w-full"
    >
      <section
        class="w-full lg:w-1/2 p-8 bg-white/30 backdrop-blur-2xl rounded-4xl flex flex-col gap-3  dark:bg-white/10"
      >
        <h2
          class="text-3xl font-bold text-start bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
          [transloco]="'aboutMe.education.title'"
        ></h2>
        <div class="flex gap-4 items-center">
          <a href="https://ifts11.edu.ar" target="_blank" class="w-[5rem]">
            <img
              src="assets/img/educationImg.webp"
              alt="Instituto de Formación Técnica Superior N° 11"
              class="w-full hover:scale-110 transition-transform duration-300 ease-in-out"
            />
          </a>

          <div class="text-[#090979] font-bold dark:text-[#0d92f4]">
            <h3 class="text-xl" [transloco]="'aboutMe.education.location'"></h3>
            <p
              class="italic font-medium"
              [transloco]="'aboutMe.education.rol'"
            ></p>
            <p
              class="italic font-medium"
              [transloco]="'aboutMe.education.interval'"
            ></p>
          </div>
        </div>
        <div class="flex flex-col gap-3 dark:text-white">
          @for(text of descriptionEducation; track $index){
          <p [transloco]="'aboutMe.education.description.' + text.text"></p>
          }
        </div>
      </section>

      <section
        class="w-full lg:w-1/2 p-8 bg-white/30 backdrop-blur-2xl rounded-4xl flex flex-col gap-3 dark:bg-white/10"
      >
        <h2
          class="text-3xl font-bold text-start bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
          [transloco]="'aboutMe.experience.title'"
        ></h2>

        <div class="flex gap-4 items-center">
          <a href="https://readymind.ms/ar/" target="_blank" class="w-[5rem]">
            <img
              src="assets/img/jobImg.webp"
              alt="Instituto de Formación Técnica Superior N° 11"
              class="w-full hover:scale-110 transition-transform duration-300 ease-in-out"
            />
          </a>

          <div class="text-[#090979] font-bold dark:text-[#0d92f4]">
            <h3
              class="text-xl"
              [transloco]="'aboutMe.experience.location'"
            ></h3>
            <p
              class="italic font-medium"
              [transloco]="'aboutMe.experience.rol'"
            ></p>
            <p
              class="italic font-medium"
              [transloco]="'aboutMe.experience.interval'"
            ></p>
          </div>
        </div>

        <div class="flex flex-col gap-3 dark:text-white">
          @for(text of descriptionExperience; track $index){
          <p [transloco]="'aboutMe.experience.description.' + text.text"></p>
          }
        </div>
      </section>
    </div>
  </div>
</div>
