<div class="w-full h-full flex justify-center items-center">
  <section class="w-1/3 flex flex-col gap-4">
    <h1 class="text-xl font-bold bg-home-title">
      Cloud Engineer Trainee | Advanced Software Development Student | Full
      Stack Developer
    </h1>

    <div class="text-xm flex flex-col gap-2">
      <p>
        👋 Hi, I'm
        <span class="text-[#090979] font-bold"
          >Kevin Maximiliano Palma Romero</span
        >, a passionate developer from Argentina.
      </p>
      <p>
        💻 I love learning, coding, and solving problems, always with
        discipline, attention to detail, and teamwork.
      </p>
      <p>
        ❤️ Beyond technology, I enjoy anime, video games, reading, and staying
        active through training. These little moments also inspire me!
      </p>
    </div>

    <div class="flex gap-6">
      <a
        href="mailto:kev.mpr03@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
        class="profile__links__link"
      >
        <img src="assets/svg/email.svg" alt="Email account" />
      </a>

      <a
        href="https://www.linkedin.com/in/kevin-m-palma-r/"
        target="_blank"
        rel="noopener noreferrer"
        class="profile__links__link"
      >
        <img
          src="assets/svg/linkedin.svg"
          alt="LinkedIn profile"
        />
      </a>

      <a
        href="https://github.com/kevmpr"
        target="_blank"
        rel="noopener noreferrer"
        class="profile__links__link githubIcon"
      >
        <img src="assets/svg/github-light.svg" alt="Github profile" />
      </a>

      <a
        href="./assets/files/CV Kevin Maximiliano Palma Romero - Desarrollador 2025.pdf"
        target="_blank"
        rel="noopener noreferrer"
        class="profile__links__link"
        id="cv-profile"
      >
        <img src="assets/svg/cv.svg" alt="Curriculum Vitae" />
      </a>
    </div>
  </section>

  <img
    src="assets/img/profilePhoto.webp"
    alt="photo profile"
    class="rounded-[50%] w-1/5"
  />
</div>
