<div
  class="w-full h-full flex justify-center items-center gap-10 animate__animated animate__fadeIn animate__faster"
>
  <img
    src="assets/img/contactImg.webp"
    alt="contact me"
    class="w-1/5 hover:cursor-pointer hover:scale-102 transition-transform duration-300 ease-in-out"
    (click)="startSchoolPride()"
  />

  <section class="w-1/3 flex flex-col gap-4">
    <h1
      class="text-3xl font-bold text-start bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
    >
      Get in Touch
    </h1>

    <div class="text-xl flex flex-col gap-2 text-start dark:text-white">
      <p>
        📧 If you're looking for someone with solid technical skills, a
        continuous learning mindset, and dedication to exceeding expectations,
        don't hesitate to contact me.
      </p>
      <p>
        ❤️ I'm ready to join your team and contribute to your company's growth!
      </p>
    </div>

    <div
      class="flex justify-center gap-6 text-xl rounded-4xl p-4 shadow-lg animate__animated animate__pulse animate__infinite animate__slower"
    >
      @for(link of contactLinks; track $index){
        @if(link.routeImgDark && theme.darkMode()){
          <a
            [href]="link.url"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white"
          >
            <img [src]="link.routeImgDark" [alt]="link.label" />
            <p>{{ link.label }}</p>
          </a>
        } @else {

          <a
            [href]="link.url"
            target="_blank"
            rel="noopener noreferrer"
            class="flex items-center gap-2 hover:text-blue-600 dark:text-gray-300 dark:hover:text-white"
          >
            <img [src]="link.routeImg" [alt]="link.label" />
            <p>{{ link.label }}</p>
          </a>
        }
      }
    </div>
  </section>
</div>
