<header
  class="flex items-center justify-evenly gap-4 w-full h-full px-2 py-5 bg-gradient-to-r from-[#020024] via-[#090979] to-[#0d92f4] dark:bg-transparent dark:from-transparent dark:via-transparent dark:to-transparent"
>
  <div class="flex items-center justify-center gap-2 text-center">
    <img src="assets/img/nika.webp" alt="portfolio logo" class="w-12" />
    <p class="text-xl font-bold text-white w-full">kevmpr</p>
  </div>

  <nav>
    <ul class="flex items-center gap-8">
      @for(option of menuOptions; track option.route){
      <li
        class="text-gray-300 border-transparent hover:text-gray-100 transition-transform duration-200 ease-in-out"
      >
        <a
          [routerLink]="option.route"
          [routerLinkActive]="['text-white']"
          class="w-full px-2 flex items-center no-underline text-xm font-semibold"
          >{{ option.label }}
        </a>
      </li>
      }
    </ul>
  </nav>

  <div>
    <button
      (click)="onToggleTheme()"
      class="flex items-center justify-center"
    >
      @if(theme.darkMode()){
        <img src="assets/svg/dark-mode.svg" alt="dark mode" class="w-[2rem] transition-transform duration-300 ease-in-out">
      } @else {
        <img src="assets/svg/light-mode.svg" alt="light mode" class="w-[2rem] transition-transform duration-300 ease-in-out">
      }
    </button>
  </div>
</header>
