@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --main-font: "Roboto", sans-serif;

    --bg-color: #020024;
    --primary-color: #0d92f4;
    --primary-color-dark: #090979;
    --white-color: #f8fcff;
    --white-color-hover: #ffffff;
    --black-color: #02131f;
    --black-color-hover: #000000;

    --icon-font-size: 1.5rem;
    --section-font-size: 1rem;
    --title-font-size: 1.3rem;
    --subtitle-font-size: 1.1rem;
    --text-font-size: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 62.5%;
    font-family: var(--main-font);
    background: rgb(232, 239, 253);
    background: linear-gradient(
        0deg,
        rgba(232, 239, 253, 1) 0%,
        rgba(241, 244, 254, 1) 51%,
        rgba(255, 255, 255, 1) 100%
    );
    color: var(--black-color);
}

.darkmode {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgb(18, 18, 18) 35%,
        rgb(39, 39, 39) 100%
    );
    color: var(--white-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 5rem;
    background: var(--bg-color);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(13, 146, 244, 1) 100%
    );
    z-index: 10;
}

.header--darkmode {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgb(18, 18, 18) 35%,
        rgb(39, 39, 39) 100%
    );
}

.header .header__icon:visited,
.header .header__icon:link {
    color: var(--white-color);
}

.header__icon {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--icon-font-size);
    font-weight: 700;
}

.svg {
    width: 2rem;
    height: 2rem;
}

.svg:hover {
    cursor: pointer;
}

.nav {
    width: 50%;
    font-size: var(--section-font-size);
}

.nav__sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.sections__section {
    border-bottom: 2px solid transparent;
    list-style: none;
    font-weight: 700;
}

@keyframes section {
    to {
        border-bottom: 2px solid var(--white-color-hover);
        color: var(--white-color-hover);
    }
}

.sections__section:hover {
    animation: section 0.2s ease-in-out forwards;
}

.sections__section a:visited,
.sections__section a:link {
    color: var(--white-color);
}

.sections__section:hover a:visited,
.sections__section:hover a:link {
    animation: section 0.2s ease-in-out forwards;
}

.sections__section--links,
.sections__section--links {
    list-style: none;
}

.input-toggle {
    display: none;
}

.main {
    height: auto;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes dissapear {
    from {
        opacity: 1;
        scale: 1;
    }

    to {
        opacity: 0;
        scale: 0.5;
    }
}

.main__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100rem;
    min-height: 100vh;
    animation: appear linear, dissapear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%, exit 0 cover 90%;
}

.profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.profile__image {
    width: 23rem;
    border-radius: 50%;
}

.profile__info {
    width: 30%;
    font-size: var(--section-font-size);
}

.profile__title {
    margin-bottom: 1rem;
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile__title--darkmode {
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--white-color-hover)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile__description {
    color: var(--black-color);
}

.profile__description--darkmode {
    color: var(--white-color);
}

.profile__description > span {
    font-weight: 700;
    color: var(--primary-color-dark);
}

.profile__description--darkmode > span {
    color: var(--primary-color);
}

/* .profile__description__word {
    font-weight: 700;
    color: var(--primary-color-dark);
} */

/* .profile__description__word--darkmode {
    color: var(--primary-color);
} */

@keyframes link {
    0% {
        border-bottom: 2px solid transparent;
    }
    100% {
        border-bottom: 2px solid var(--primary-color-dark);
    }
}

@keyframes linkDark {
    0% {
        border-bottom: 2px solid transparent;
    }
    100% {
        border-bottom: 2px solid var(--white-color);
    }
}

.profile__links {
    display: flex;
    gap: 2rem;
}

.profile__links__link {
    border-bottom: 2px solid transparent;
}

.profile__links__link:hover {
    animation: link 0.2s ease-in-out forwards;
}

.profile__links__link--darkmode:hover {
    animation: linkDark 0.2s ease-in-out forwards;
}

.profile--skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile--skills__title {
    font-size: var(--title-font-size);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0.5rem;
}

.profile--skills__title--darkmode {
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--white-color-hover)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.profile--skills__hard {
    display: flex;
    gap: 1rem;
    font-size: var(--text-font-size);
}

.profile--skills__hard__skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    color: var(--primary-color-dark);
}

.profile--skills__hard__skill--darkmode {
    color: var(--primary-color);
}

.main__projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
    min-height: 100vh;
}

.projects__title {
    padding-bottom: 0.2rem;
    border-bottom: 4px solid var(--primary-color-dark);
    margin: 8rem 0 1rem 0;
    font-size: var(--title-font-size);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.projects__title--darkmode {
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--white-color-hover)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    border-bottom: 4px solid var(--primary-color);
}

.projects__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.project {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 1rem;
    width: 55%;
    padding: 1.5rem 0rem 1rem 2.5rem;
    border: 2px solid transparent;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
    animation: appear linear, dissapear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%, exit 0 cover 95%;
}

.project--darkmode {
    box-shadow: rgba(13, 146, 244, 0.65) 0px 4px 8px -2px,
        rgba(13, 146, 244, 0.4) 0px 0px 0px 1px;
}

.project:nth-child(even) {
    padding: 1.5rem 2.5rem 1rem 0;
}

.project__img {
    width: 20rem;
    margin: 0 auto;
    border-radius: 10px;
}

.project:nth-child(odd) .project__img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.project__text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.project:nth-child(odd) .project__text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.project__text__title {
    font-size: var(--subtitle-font-size);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project__text__title--darkmode {
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--white-color-hover)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.project__text__subtitle {
    font-size: var(--text-font-size);
    color: var(--primary-color-dark);
}

.project__text__subtitle--darkmode {
    color: var(--primary-color);
}

.project__text__description {
    font-size: var(--text-font-size);
}

.project__links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project:nth-child(odd) .profile__links {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.project__links__link {
    padding: 0.2rem;
    border-bottom: 2px solid transparent;
}

.webLink:hover,
.repositoryLink:hover,
.presentationLink:hover {
    animation: link 0.2s ease-in-out forwards;
}

.webLinkDark:hover,
.repositoryLinkDark:hover,
.presentationLinkDark:hover {
    animation: linkDark 0.2s ease-in-out forwards;
}

.project__tools {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.project:nth-child(odd) .project__tools {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.main__aboutme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
    min-height: 100vh;
    animation: appear linear, dissapear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 45%, exit 0 cover 130%;
}

.aboutme__title {
    padding-bottom: 0.2rem;
    border-bottom: 4px solid var(--primary-color-dark);
    margin: 8rem 0 1rem 0;
    font-size: var(--title-font-size);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme__title--darkmode {
    border-bottom: 4px solid var(--primary-color);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--white-color-hover)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    padding: 1rem 1rem 0.5rem 1rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.aboutme__info--darkmode {
    box-shadow: rgba(13, 146, 244, 0.65) 0px 4px 8px -2px,
        rgba(13, 146, 244, 0.4) 0px 0px 0px 1px;
}

.aboutme__info__title {
    font-size: var(--subtitle-font-size);
    margin-bottom: 1rem;
    color: var(--primary-color-dark);
}

.aboutme__info__title--darkmode {
    color: var(--primary-color);
}

.aboutme__info__text {
    font-size: var(--text-font-size);
}

.aboutme__info__text > span{
    font-weight: 700;
    color: var(--primary-color-dark);
}

.aboutme__info__text--darkmode > span{
    font-weight: 700;
    color: var(--primary-color);
}

.main__contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100rem;
    min-height: 100vh;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}

.contact__title {
    padding-bottom: 0.2rem;
    border-bottom: 4px solid var(--primary-color-dark);
    margin: 8rem 0 2rem 0;
    font-size: var(--title-font-size);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact__title--darkmode {
    border-bottom: 4px solid var(--primary-color);
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--white-color-hover)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 55%;
    text-align: center;
}

.contact__info__text {
    font-size: var(--text-font-size);
}

.contact__info__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
    width: 95%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
        rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}

.contact__info__links > a:visited,
.contact__info__links > a:link {
    color: var(--black-color);
}

.contact__info__links > a:hover {
    background: -webkit-linear-gradient(
        0,
        var(--primary-color-dark),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact__info__links--darkmode {
    box-shadow: rgba(13, 146, 244, 0.65) 0px 4px 8px -2px,
        rgba(13, 146, 244, 0.4) 0px 0px 0px 1px;
}

.contact__info__links--darkmode > a:visited,
.contact__info__links--darkmode > a:link {
    color: var(--white-color);
}

.contact__info__links--darkmode > a:hover {
    background: -webkit-linear-gradient(
        0,
        var(--primary-color),
        var(--primary-color)
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contact__info__links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--text-font-size);
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5rem;
    font-size: var(--section-font-size);
    background: var(--bg-color);
    background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(13, 146, 244, 1) 100%
    );
    color: var(--white-color);
    z-index: 10;
}

.footer--darkmode {
    background: rgb(0, 0, 0);
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgb(18, 18, 18) 35%,
        rgb(39, 39, 39) 100%
    );
}