<div
  class="flex flex-col items-center justify-start w-full h-full animate__animated animate__fadeIn animate__faster"
>
  <div class="flex flex-col items-center justify-center gap-10 w-3/4 py-10">
    <h1
      class="text-3xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
      [transloco]="'skills.title'"
    ></h1>

    <section class="flex flex-col items-center justify-center gap-4 w-full">
      <div class="text-[#090979] dark:text-[#0d92f4]">
        <h3
          class="text-2xl font-bold text-center"
          [transloco]="'skills.listSkills.hardSkills.subtitle'"
        ></h3>
        <p
          class="text-xl font-medium text-center"
          [transloco]="'skills.listSkills.hardSkills.text'"
        ></p>
      </div>

      <div class="grid grid-cols-2 gap-12 w-full p-8">
        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="'skills.listSkills.hardSkills.listItems.frontEnd'"
          ></h2>

          <div class="grid grid-cols-3 gap-8 justify-items-center text-center">
            @for(frontOptions of hardSkillFrontOptions; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              <img
                src="{{ frontOptions.routeImg }}"
                alt="{{ frontOptions.label }} icon"
                class="w-14 h-14"
              />
              <p class="text-xm font-bold">{{ frontOptions.label }}</p>
            </div>
            }
          </div>
        </section>

        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="'skills.listSkills.hardSkills.listItems.backEnd'"
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(backOptions of hardSkillBackOptions; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              <img
                src="{{ backOptions.routeImg }}"
                alt="{{ backOptions.label }} icon"
                class="w-14 h-14"
              />
              <p class="text-xm font-bold">{{ backOptions.label }}</p>
            </div>
            }
          </div>
        </section>

        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="'skills.listSkills.hardSkills.listItems.databases'"
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(dbOptions of hardSkillDBOptions; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              <img
                src="{{ dbOptions.routeImg }}"
                alt="{{ dbOptions.label }} icon"
                class="w-14 h-14"
              />
              <p class="text-xm font-bold">{{ dbOptions.label }}</p>
            </div>
            }
          </div>
        </section>

        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="'skills.listSkills.hardSkills.listItems.cloud'"
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(cloudOptions of hardSkillCloudOptions; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              <img
                src="{{ cloudOptions.routeImg }}"
                alt="{{ cloudOptions.label }} icon"
                class="w-14 h-14"
              />
              <p class="text-xm font-bold">{{ cloudOptions.label }}</p>
            </div>
            }
          </div>
        </section>

        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="'skills.listSkills.hardSkills.listItems.tools'"
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(toolOptions of hardSkillToolOptions; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              <img
                src="{{ toolOptions.routeImg }}"
                alt="{{ toolOptions.label }} icon"
                class="w-14 h-14"
              />
              <p class="text-xm font-bold">{{ toolOptions.label }}</p>
            </div>
            }
          </div>
        </section>
      </div>
    </section>

    <section class="flex flex-col items-center justify-center gap-4 w-full">
      <div class="text-[#090979] dark:text-[#0d92f4]">
        <h3
          class="text-2xl font-bold text-center"
          [transloco]="'skills.listSkills.softSkills.subtitle'"
        ></h3>
        <p
          class="text-xl font-medium text-center"
          [transloco]="'skills.listSkills.softSkills.text'"
        ></p>
      </div>

      <div class="grid grid-cols-2 gap-12 w-full p-8">
        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="
              'skills.listSkills.softSkills.listItems.collaborationCommunication.title'
            "
          ></h2>

          <div class="grid grid-cols-3 gap-8 justify-items-center text-center">
            @for(softOptions of softSkill1Options; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              @if(theme.darkMode()){
              <img
                src="{{ softOptions.routeImgDark }}"
                alt="{{ softOptions.label }} icon"
                class="w-14 h-14"
              />
              } @else {
              <img
                src="{{ softOptions.routeImg }}"
                alt="{{ softOptions.label }} icon"
                class="w-14 h-14"
              />
              }

              <p
                class="text-xm font-bold"
                [transloco]="
                  'skills.listSkills.softSkills.listItems.collaborationCommunication.listSubItems.' +
                  softOptions.label
                "
              ></p>
            </div>
            }
          </div>
        </section>

        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="
              'skills.listSkills.softSkills.listItems.cognitiveProblemSolving.title'
            "
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(softOptions of softSkill2Options; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              @if(theme.darkMode()){
              <img
                src="{{ softOptions.routeImgDark }}"
                alt="{{ softOptions.label }} icon"
                class="w-14 h-14"
              />
              } @else {
              <img
                src="{{ softOptions.routeImg }}"
                alt="{{ softOptions.label }} icon"
                class="w-14 h-14"
              />
              }

              <p
                class="text-xm font-bold"
                [transloco]="
                  'skills.listSkills.softSkills.listItems.cognitiveProblemSolving.listSubItems.' +
                  softOptions.label
                "
              ></p>
            </div>
            }
          </div>
        </section>

        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="
              'skills.listSkills.softSkills.listItems.organisationAccountability.title'
            "
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(softOptions of softSkill3Options; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[7rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              @if(theme.darkMode()){
              <img
                src="{{ softOptions.routeImgDark }}"
                alt="{{ softOptions.label }} icon"
                class="w-14 h-14"
              />
              } @else {
              <img
                src="{{ softOptions.routeImg }}"
                alt="{{ softOptions.label }} icon"
                class="w-14 h-14"
              />
              }

              <p
                class="text-xm font-bold"
                [transloco]="
                  'skills.listSkills.softSkills.listItems.organisationAccountability.listSubItems.' +
                  softOptions.label
                "
              ></p>
            </div>
            }
          </div>
        </section>
      </div>
    </section>

    <section class="flex flex-col items-center justify-center gap-4 w-full">
      <div class="text-[#090979] dark:text-[#0d92f4]">
        <h3
          class="text-2xl font-bold text-center"
          [transloco]="'skills.listSkills.languages.subtitle'"
        ></h3>
        <p
          class="text-xl font-medium text-center"
          [transloco]="'skills.listSkills.languages.text'"
        ></p>
      </div>

      <div class="grid grid-cols-1 p-8 items-center justify-items-center">
        <section
          class="flex flex-col gap-4 items-center bg-white/30 backdrop-blur-2xl rounded-4xl p-8 dark:bg-white/10"
        >
          <h2
            class="text-2xl font-bold text-center bg-gradient-to-r from-[#090979] to-[#0d92f4] bg-clip-text text-transparent dark:from-[#0d92f4] dark:to-[#ffffff]"
            [transloco]="
              'skills.listSkills.languages.listItems.multilingualCommunication.title'
            "
          ></h2>

          <div class="grid grid-cols-2 gap-8 justify-items-center text-center">
            @for(languageOption of languageOptions; track $index) {
            <div
              class="flex flex-col items-center justify-center gap-1 text-[#090979] w-[9rem] hover:cursor-pointer hover:scale-110 transition-transform duration-300 ease-in-out dark:text-white"
              (click)="launchConfetti()"
            >
              <img
                src="{{ languageOption.routeImg }}"
                alt="{{ languageOption.label }} icon"
                class="w-14 h-14"
              />
              <p
                class="text-xm font-bold"
                [transloco]="
                  'skills.listSkills.languages.listItems.multilingualCommunication.listSubItems.' +
                  languageOption.label
                "
              ></p>
            </div>
            }
          </div>
        </section>
      </div>
    </section>
  </div>
</div>
